.transactionTable {
  min-width: 80%;
  border-collapse: collapse;
  font-family: sans-serif;
  text-align: left;
  margin: auto;
}

.transactionTable thead {
  background-color: #2d2d2d;
  color: white;
}

.transactionTable th,
.transactionTable td {
  padding: 12px 16px;
  border: 1px solid #ccc;
}

.transactionTable tbody tr:nth-child(even) {
  background-color: #e2e2e2;
}

.transactionTable td:first-child {
  text-transform: capitalize;
}
